[submodule "rawdrawandroid"]
	path = rawdrawandroid
	url = https://github.com/cnlohr/rawdrawandroid
[submodule "PNGtoReadable/spng"]
	path = PNGtoReadable/spng
	url = https://github.com/randy408/libspng
